<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/main.css">
    <link rel="stylesheet" href="../assets/css/headers.css">

      <script
         src="http://code.jquery.com/jquery-3.3.1.min.js"
         integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
         crossorigin="anonymous">
      </script>
</head>
<body>
<header>
    <nav class="menu">
        <div class="logo">
            <a href="../index.php"><img src="../assets/images/logo.png" alt="Logo Depanncar"></a>
        </div>
        <ul>
            <li><a href="#" id="linkProfil">Profil</a></li>
            <li><a href="chat-client.php">Chat</a></li>
            <li><a href="map-client.php" >Map</a></li>
        </ul>
       <a class="btn btn-primary" href="map-client.php">Déclarez votre panne</a>
    </nav>
    <div>
        <a href="chat-client.php"><img class="chat" src="../assets/images/chat.png" alt="Chat"></a>
    </div>


    <button id="buttonConn2" type="button" data-toggle="modal" data-target="#exampleModal" class="btn btn-primary">
        Connexion
    </button>

    <!-- Modal -->
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <form id="form-modal" class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Connectez vous</h5>
                        </div>
                        <div class="modal-body">
                            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                            <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulé</button>
                            <button type="submit" class="btn btn-secondary">Connexion</button>
                        </div>
                    </div>
                </form>
            </div>
</header>
</body>
</html>