<!doctype html>
<html lang="fr">
<head>
<meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>Depanncar</title>


        <link rel="stylesheet" href="../assets/css/map.css">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css"
        integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S"
        crossorigin="anonymous">
</head>
<body>

<div id="map"></div>
<script>
    // Note: This example requires that you consent to location sharing when
    // prompted by your browser. If you see the error "The Geolocation service
    // failed.", it means you probably did not give permission for the browser to
    // locate you.

    function initMap() {

        var place = [{lat: 48.866667, lng: 2.333333}, {lat: 48.860642, lng: 2.352245000000039}, {lat: 48.8706292, lng: 2.3663669999999684},
        {lat: 48.87490769999999, lng: 2.3535087000000203}, {lat: 48.85542, lng: 2.3449869999999464}, {lat: 48.8531827, lng: 2.3691443000000163}];

        var map = new google.maps.Map(document.getElementById('map'), {
            center: place[2],
            zoom: 14,
            disableDefaultUI: true
        });

          var contentString = `<section class="card">
                    <div class="profil">
                        <div class="profil-pic">
                        </div>
                        <div class="profil-description">
                            <strong class="name">DUPONT ERIC</strong>
                            <p class="location">Levallois-Perret</p>
                            <p class="text-dark">
                                 <i class="fa fa-star checked"></i>
                                 <i class="fa fa-star checked"></i>
                                 <i class="fa fa-star checked"></i>
                                 <i class="fa fa-star checked"></i>
                                 <i class="fa fa-star"></i>
                            </p>
                        </div>
                        <div class="msg">
                            <img src="../assets/images/chat.png">
                        </div>
                    </div>
                        <p class="description"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur debitis error facere fuga id magni!</p>
                    <div class="btn-center">
                        <input class="send-msg" type="submit" value="Envoyer une demande"/>
                    </div>
                    </section>`

        var infoWindow = new google.maps.InfoWindow({
            map: map,
            content: contentString,
            maxWidth: 280
        });

          function markerClick(marker) {
              marker.addListener('click', function() {
                  infoWindow.open(marker.get('map'), marker)
                  $('.card').parent().parent().parent().parent().parent().addClass('replaceMarker')
                  document.querySelector('.msg').addEventListener("click", function() {
                        $('.mini-chat').animate({right:'0'})
                  })
                });

              }

        for (let i=0; i<place.length; i++){
            var marker = new google.maps.Marker({
                        position: place[i],
                        icon: {url:"../assets/images/puce.png",
                        size: new google.maps.Size(80, 100),
                        anchor: new google.maps.Point(22, 45),
                        scaledSize: new google.maps.Size(40, 60)},
                        map: map
                    });
            markerClick(marker)
        }

        // Try HTML5 geolocation.
        /*if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                var pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };

                infoWindow.setPosition(pos);
                infoWindow.setContent(contentString);
                map.setCenter(pos);
            }, function() {
                handleLocationError(true, infoWindow, map.getCenter());
            });
        } else {
            // Browser doesn't support Geolocation
            handleLocationError(false, infoWindow, map.getCenter());
        }*/
        var styledMapType = new google.maps.StyledMapType(
            [
              {
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#242f3e"
                  },
                  {
                    "saturation": 30
                  },
                  {
                    "lightness": -60
                  },
                  {
                    "weight": 2
                  }
                ]
              },
              {
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#284d61"
                  }
                ]
              },
              {
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                    "color": "#284d61"
                  },
                  {
                    "saturation": 100
                  },
                  {
                    "lightness": -35
                  },
                  {
                    "weight": 0.5
                  }
                ]
              },
              {
                "featureType": "administrative",
                "elementType": "geometry",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "administrative.land_parcel",
                "elementType": "labels",
                "stylers": [
                  {
                    "color": "#4c94b5"
                  },
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "administrative.locality",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#437e9d"
                  }
                ]
              },
              {
                "featureType": "poi",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "labels.text",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "poi",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#3c718e"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#222d28"
                  }
                ]
              },
              {
                "featureType": "poi.park",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#223020"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#38414e"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "color": "#212a37"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "labels.icon",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "road",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#9ca5b3"
                  }
                ]
              },
              {
                "featureType": "road.arterial",
                "elementType": "labels",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#182435"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "geometry.stroke",
                "stylers": [
                  {
                    "color": "#1f2835"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "labels",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "road.highway",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#1a3777"
                  }
                ]
              },
              {
                "featureType": "road.local",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "road.local",
                "elementType": "labels",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "transit",
                "stylers": [
                  {
                    "visibility": "off"
                  }
                ]
              },
              {
                "featureType": "transit",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#2f3948"
                  }
                ]
              },
              {
                "featureType": "transit.station",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#174377"
                  },
                  {
                    "weight": 1
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "geometry",
                "stylers": [
                  {
                    "color": "#17263c"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "labels.text.fill",
                "stylers": [
                  {
                    "color": "#515c6d"
                  }
                ]
              },
              {
                "featureType": "water",
                "elementType": "labels.text.stroke",
                "stylers": [
                  {
                    "color": "#17263c"
                  }
                ]
              }
            ]
            /* fin du js style de map */
        )
        map.mapTypes.set('styled_map', styledMapType);
        map.setMapTypeId('styled_map');
    }

    function handleLocationError(browserHasGeolocation, infoWindow, pos) {
        infoWindow.setPosition(pos);
        infoWindow.setContent(browserHasGeolocation ?
            'Error: The Geolocation service failed.' :
            'Error: Your browser doesn\'t support geolocation.');
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAVxxP5MUCFNJOvrSqvwOIa1KXWfdXfn1g&callback=initMap"
        async defer></script>

</body>
</html>