@font-face {
    font-family: 'bebasBold';
    src: url('../font/bebasneue_bold-webfont.woff2') format('woff2'),
    url('../font/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

a{
    font-family: 'bebasBold';
    text-transform: uppercase;
    letter-spacing: 2px;
}

button{
    font-family: 'bebasBold';
    text-transform: uppercase;
    letter-spacing: 2px;
}

body{
    font-size: 15px;
}

main{
    height: 90vh;
    background: url("../images/bg-home.jpg")no-repeat;
    background-size: 100%;
    background-position: center;
}

.text-center{
    text-align: center;
}

.smaller{font-size: 1.5rem}

.p30{
    padding: 30px;
}

.mb20{
    margin-bottom: 20px;
}

h1{
    font-family:'bebasBold';
    text-transform: uppercase;
    font-size: 1.8rem;
}

h2{
    font-family:'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #272957;
}

.rgba-white{
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 15px;
}

.main-home{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 5%;
    margin-right: 5%;
}

#Form{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: 25%;
    margin-right: 25%;
}

#Form input{
    background-color: transparent;
    border-bottom: 1px solid #130F26;
    border-radius: 0;
    padding: 0;
}


#Form button[type='submit']{
    margin-top: 30px;
    border-radius: 0;
    border: none;
    width: 100%;
    background-color: #130F26;
    padding: 10px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #ffffff;
}

#Form .form-group{
    margin-bottom: 30px;
}

#Form form{
    margin-top: 30px;
}

form .first-part{
    display: flex;
    padding-left: 30px;
    padding-right: 30px;
}
form .first-part .form-group:first-child{
    margin-right: 50px;
}

form .first-part .form-group{
    width: 95%
}

form .last-part{
    width: 45%;
    padding-left: 30px;
    padding-right: 30px;
}

.choice-form{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.choice-home{
    display: flex;
    justify-content: space-around;
    padding: 30px;
}

.map{
    position: relative;
}

.bgform{
    background-color: #ffffff;
    width: 50vw;
    height: 90vh;
    position: absolute;
    top: 0;
    right: 5vw;
    z-index: 10;
}

.bg-gradient{
    background: #130f26; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #130f26 0%, #130f3a 33%, #272957 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #130f26 0%,#130f3a 33%,#272957 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #130f26 0%,#130f3a 33%,#272957 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#130f26', endColorstr='#272957',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#steps{
    position: absolute;
    width: 5vw;
    height: 90vh;
    right: 0;
    top: 0;
    z-index: 20;
}

input[type="radio"]{
    opacity: 0;
}

.label-radio img{
    margin-top: 30px;
    width: 200px;
    height: 100%;
}

.checked{
    border: 3px solid #000000;
}



