@font-face {
    font-family: 'bebasBold';
    src: url('../font/bebasneue_bold-webfont.woff2') format('woff2'),
    url('../font/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.container-fluid{
    margin: 0;
    padding: 0;
}

.btn, .form-group, .form-control{
    border-radius: 0;
}

.vertical-line{
    width: 2px;
    background-color: #130F26;
    height:260px;
    margin-top: 10px;
}

a{
    font-family: 'bebasBold';
    text-transform: uppercase;
    letter-spacing: 2px;
}

button{
    font-family: 'bebasBold';
    text-transform: uppercase;
    letter-spacing: 2px;
}

body{
    font-size: 15px;
    color: #130F26;
}

.bg-home{
    height: 90vh;
    background: url("../images/bg-home.jpg")no-repeat;
    background-size: 100%;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bg-white-home{
    background-color: white;
    padding: 30px;
    height: 100%;
}

.text-center{
    text-align: center;
}

.smaller{font-size: 1.5rem}

.p30{
    padding: 30px;
}

.mb20{
    margin-bottom: 20px;
}

.map{
    position: relative;
    overflow: hidden;
}


.choice-home{
    display: flex;
    justify-content: space-around;
}

.choice-home a{
    display: flex;
    justify-content: center;
    color: #ffffff;
    padding: 10px 50px 10px 50px;
    text-decoration: none;
    position: relative;
}

.choice-home a:hover{
    color: #ffffff;
    text-decoration: none;
}

h1{
    font-family:'bebasBold';
    text-transform: uppercase;
    font-size: 1.8rem;
    color: #130F26;
    line-height: 40px;
}

h2{
    font-family:'Montserrat', sans-serif;
    font-size: 1.2rem;
    color: #272957;
}

.main-home{
    position: relative;
}


/**** Form inscription ****/

.form-div #formClient input, .form-div #formMecano input{
    background-color: transparent;
    border-bottom: 1px solid #130F26;
    border-radius: 0;
    padding: 0;
}

.form-div button[type='submit']{
    margin-top: 30px;
    border-radius: 0;
    border: none;
    background-color: #130F26;
    padding: 10px 20px 10px 20px;
    font-size: 1.1rem;
    letter-spacing: 1px;
    color: #ffffff;
}

.form-div .form-group{
    margin-bottom: 30px;
}

.bgform{
    background-color: #ffffff;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    right: 5vw;
    z-index: 10;
}

.center{
    display: flex;
    justify-content: center;
    align-items: center;
}

/*******/

/***** Form déclarez votre panne *****/

.bgform2{
    background-color: #ffffff;
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    right: -100%;
    z-index: 20;
}

.bg-gradient{
    background: #130f26; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #130f26 0%, #130f3a 33%, #272957 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #130f26 0%,#130f3a 33%,#272957 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #130f26 0%,#130f3a 33%,#272957 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#130f26', endColorstr='#272957',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

#steps{
    position: absolute;
    width: 5vw;
    height: 90vh;
    right: -5vw;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#steps p{
    color: white;
    margin: 0;
    padding: 15px;
}

.steps-line{
    background-color: #00b3ff;
    width: 2px;
    height: 18vh;
}

.circle-border {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    border-radius: 100%;
    background: none;
    border: 0;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle;
    margin: 10px;
}

.circle-border::before, .circle-border::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    border-radius: 100%;
    left: 0;
}

.circle-border::before{
    border: 2px solid transparent;
}

.circle-border::after{
    border: 0 solid transparent;
}

.circle-border::before{
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    border-left-color: #ffffff;
    border-bottom-color: #ffffff;
    transition: border-top-color 2s linear 2s,
    border-right-color 2s linear 2s,
    border-bottom-color 2s linear 2s;
    transition-display: 3s;
    animation-name: beforeBorder;
    animation-duration: 2s;
    border-left-width: 2px;
    border-right-width: 2px;
}

.circle-border::after{
    animation-duration: 2s;
    animation-name: afterBorder;
    border-left-width: 2px;
    border-right-width: 2px;
}

@keyframes beforeBorder{
    0%   {
        border-top: 2px solid transparent;
        transform: rotate(0deg);
    }
    100% {
        border-top: 2px solid #ffffff;
        transform: rotate(260deg);
        transition: transform 0.4s linear 0s, linear 0.35s;
    }
}

@keyframes afterBorder{
    0%   {
        border-top: 2px solid transparent;
        transform: rotate(200deg);
    }
    100% {
        border-top: 2px solid #ffffff;
        transform: rotate(270deg);
        transition: transform 0.4s linear 0s, linear 0.35s;
    }
}

input[type="radio"]{
    opacity: 0;
}

.label-radio{
    position: relative;
}

.label-radio img{
    margin-top: 30px;
    width: 95%;
    height: auto;
}

.declare{
    position: absolute;
    z-index: 10;
    color: #00b3ff;
    top:550px;
    left: 50%;
    transform: translateX(-50%);
    border: 1px solid #00b3ff;
    padding: 10px 20px 10px 20px;
    background-color: transparent;
    transition: all ease 0.3s;
}

.declare:hover{
    color: #ffffff;
    border: 1px solid #00b3ff;
    background-color: #00b3ff;
}

.text-form{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    transform: translateX(-50%);
    color: #ffffff;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-family: 'bebasBold';
    letter-spacing: 2px;
}

#form-panne div:last-child{
    display: flex;
}

.form-section{
    display: flex;
    justify-content: center;
}

.form-section:last-child{
    margin-top: -20px;
}

.form-section label img{
    width: 100%;
    height: auto;
}

.column{
    display: flex;
    flex-direction: column;
}

#step4{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

#step4 div{
    margin-top: 25px;
}

#step4 div div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-right: 20px;
    margin-left: 20px;
}

label{
    cursor: pointer;
}

#step4 div div:last-child{
    margin-right: 20px;
}

#step4 input[type='text'], #step4 input[type='number']{
    border: none;
    border-bottom: 2px solid #130F26;
    margin: 0;
}

#step4 label{
    color: #130F26;
    text-transform: uppercase;
    font-family: 'bebasBold', sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 0;
}

#step4 label[for='carImage']{
    border: 2px solid #130F26;
    padding: 5px 10px;
    cursor: pointer;
}

#step4 input[type='file']{
    display: none;
}

#step4 label[for="submit"]{
    margin-top: 20px;
    background-color: #130F26;
    border: none;
    color: white;
    padding: 8px 30px;
    cursor: pointer;
    letter-spacing: 1px;
}

#step4 input[type="submit"]{
    display: none;
}

.cross{
    display: flex;
    justify-content: flex-end;

}
/********/



