aside{
    background-color: #130F26;
    height:90vh;
}

aside article{
    margin: 15% 0;
}

.pp-large{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pp-meca{
    background:url(../images/mecano-profil.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    background: none;
    background-color: white;
}

.checked {
    color: #06D0FF;
}

.car-picture{
    width: 40%;
    height:auto;
}

.car-picture img{
    width:100%;
}

.btn-accept, .btn-refuse{
    padding: 4px 20px;
    border-radius: 0;
    border: none;
    color: white;
}

.btn-accept:hover, .btn-refuse:hover{
    background-color: #130F26;
}

.btn-accept{
    background-color: #00b3ff;
}

.btn-refuse{
    background-color: #3a768f;
}

.more{
    color: #3a768f;
    font-size: 0.9em;
}

.text-blue{
    color: #130F26;
}