@font-face {
    font-family: 'bebas_neue_regularregular';
    src: url('../font/bebasneue_regular-webfont.woff2') format('woff2'),
    url('../font/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* { box-sizing: border-box; }

aside{
    background: linear-gradient(to bottom right, #130F25, #272957);
    background-color: #00b3ff;
    height:90vh;
}

aside article{
    margin: 15% 0;
}

.pp-large{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.pp-meca{
    background:url(../images/mecano-profil.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

main{
    background: none;
    background-color: white;
}

.checked {
    color: #06D0FF;
}

.info-profil{
    color: #fff;
}
.img-prof-size {
    width: 150px;
    height: 150px;
}
.profil-pic{
    background-image: url(../images/client-profil.jpg);
    background-position: center;
    background-size: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.save-car{
    color: white;
    font-size: 13px;
}
.card{
    border: 0;
    border-radius:0;
}
.img-car{
    width: 100%;
    height: 100px;
    background-image: url("../images/car-pic.jpg");
    background-size: cover ;
    background-position: center;
}
.license-plate{
    font-size: 10px;
}
.brand{
    font-size: 12px;
}
.car-brand p {
    margin-top: 15px;
    margin-bottom: 1rem;
    margin: 1px;
}
.km{
    font-size: 12px;
    margin: 1px;
}
.add-car{
    background: #130F25;
    color: #ffffff;

    font-size: 12px;
    border: none;
    margin-top: 10px;
    padding: 0 0 0 10px;
    letter-spacing: 2px;
}
.add-car span{
    background: #272957;
    font-size: 30px;
    margin-left: 5px;
    padding-left: 5px;
    padding-right: 5px;
}


/**********************************/
/***** CARD DEMANDE (MECANO) *****/
/**********************************/

.card-demande {
    position: relative;
    overflow: hidden;
    /*top: 50%;
    left: 50%;*/
    width: 300px;
    height: 300px;
    /*transform: translateX(-50%) translateY(-50%);*/
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0, 0.1);
    transition: box-shadow 0.3s;
}
.card-demande a {
    color: inherit;
    text-decoration: none;
}
.card-demande:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
}
.card-demande_chat {
    position: absolute;
    top: 20px;
    right: 20px;

    width: 40px;
    height: 40px;
    padding-top: 10px;

    background-color: #130F25;
    border-radius: 50%;
    text-align: center;
    transform: scale(1);
    transition: 0.3s;
}
.card-demande_chat:hover {
    transform: scale(1.2);
}
.card-demande__thumb {
    height: 130px;
    overflow: hidden;
    background-color: #000;
    transition: height 0.3s;
}
.card-demande__thumb img {
    display: block;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
    /*transform: scale(1);*/
}
.card-demande:hover .card-demande__thumb img {
    opacity: 0.8;
    /*transform: scale(1.2);*/
}
.card-demande:hover .card-demande__thumb {
    height: 70px;
}
.card-demande__body {
    position: relative;
    padding: 20px;
    height: 300px;
    transition: height 0.3s;
}
.card-demande:hover .card-demande__body {
    height: 160px;
}
.card-demande__description {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;

    margin: 0;
    padding: 0;

    color: #130F25;
    font-size: 12px;
    line-height: 15px;
    font-family: "Open Sans", sans-serif;

    opacity: 0;
    transition: opacity 0, 3s -0.1s, transform 0, 3s -0.1s;
    transition-delay: 0s;
    transform: translateY(25px);
}
.card-demande:hover .card-demande__description {
    opacity: 1;
    transition-delay: 0.15s;
    transform: translateY(0);

    font-family: "Open Sans", sans-serif;
}
.card-demande__footer {
    position: absolute;
    bottom: 0;
    left: 0;
}
.card-demande__footer button {
    font-size: 16px;
    line-height: 1;
    color: #130F25;
    background-color: white;
    width: 120px;
    padding: 10px 20px;
    margin: 20px 0 20px 20px;
    border: solid 2px #130F25;
    float: left;
    cursor: pointer;
    text-align: center;
    font-family: "bebas_neue_regularregular";
}
.card-demande__footer button:hover {
    background-color: #130F25;
    border: solid 2px #130F25;
    color: white;
    text-align: center;
    transition-duration: 0.4s;
}
.card-demande__title {
    margin: 0;
    padding: 0 0 10px 0;

    font-family: "bebas_neue_regularregular";
    font-weight: bold;
    font-size: 16px;
    line-height: 1px;
    color: #130F25;
}
.card-demande:hover .card-demande__title {
    animation: titleBlur 0.3s;
}
.card-demande__subtitle {
    margin: 0;
    padding: 0 0 10px 0;

    font-size: 11px;
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    line-height: 0;
    color: #130F25;
}
.card-demande:hover .card-demande__subtitle {
    animation: subtitleBlur 0.3s;
}
.card-demande__subtitle-1 {
    margin: 0;
    padding: 0 0 10px 0;

    font-family: "bebas_neue_regularregular";
    font-size: 12px;
    font-weight: normal;
    color: #130F25;
}
.card-demande:hover .card-demande__subtitle-1 {
    animation: subtitleBlur 0.3s;
}

@keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0 5px 5px transparent;
    }
}
@keyframes subtitleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0 5px 5px rgba(255, 165, 0, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0 5px 5px rgba(255, 165, 0, 0);
    }
}


/**********************************/
/***** CARD MA PANNE (CLIENT) *****/
/**********************************/

.header-maPanne{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-maPanne {
    position: relative;
    overflow: hidden;
    width: 300px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0, 0.1);
    transition: box-shadow 0.3s;
}
.card-maPanne a{
    color:inherit;
    text-decoration: none;
}

.card-maPanne:hover{
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
}

.card-maPanne__thumb {
    height: 120px;
    overflow: hidden;
    transition: height 0.3s;
    background-color: #000;
    /*transition: height 0.3s;*/
}
.card-maPanne__thumb img {
    width: 300px;
    height: auto;
    display: block;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
}
.card-maPanne:hover .card-maPanne__thumb img {
    opacity: 0.8;
}
.card-maPanne:hover .card-maPanne__thumb {
    height: 70px;
}

.card-maPanne__body {
    position: relative;
    padding: 20px;
    height: 210px;
    transition: height 0.3s;
}
.card-maPanne:hover .card-maPanne__body {
    height: 100px;
}
.card-maPanne__description{
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 0;

    margin: 0;
    padding: 0;

    font-family: Montserrat, sans-serif;
    color: #130F25;
    font-size: 12px;
    line-height: 15px;

    opacity: 0;
    transition: opacity 0, 3s -0.1s, transform 0, 3s -0.1s;
    transition-delay: 0s;
    transform: translateY(25px);
}
.card-maPanne:hover .card-maPanne__description {
    opacity: 1;
    transition-delay: 0.15s;
    transform: translateY(0);

    font-family: Montserrat, sans-serif;
}
.card-maPanne__title{
    font-family: "bebas_neue_regularregular";
    line-height: 1;
    font-size: 16px;
    color: #130F25;
    font-weight: bold;
}
/*.card-maPanne:hover .card-maPanne__title {
    animation: titleBlur 0.3s;
}*/
.card-maPanne__title-1{
    font-family: "bebas_neue_regularregular";
    line-height: 1;
    font-size: 13px;
    color: #130F25;
    font-weight: bold;
}
/*.card-maPanne:hover .card-maPanne__title-1 {
    animation: titleBlur 0.3s;
}
@keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0 5px 5px transparent;
    }
}
@keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0 5px 5px rgba(255, 165, 0, 0.6);
    }
    100% {
        opacity: 1;
        text-shadow: 0 5px 5px rgba(255, 165, 0, 0);
    }
}*/




/**********************************/
/***** CARD MES DEMANDES *****/
/**********************************/

.fa-star{
    color: #52C2F0;
}.fa-star-o{
     color: #52C2F0;
 }
.card-d-ok {
    position: relative;
    width: 300px;
    height: 200px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0, 0.1);
    transition: box-shadow 0.3s;
    padding: 20px;
    margin-top: 10px;
}
.card-d-ok:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
}
.card-d-ok-info-mecano{
    display: flex;
    flex-direction: column;
    margin: 10px 0 0 20px;
}
.card__title {
    font-family: "bebas_neue_regularregular";
    font-weight: bold;
    font-size: 16px;
    color: #130F25;
}
.card__subtitle {
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 12px;
    color: #636363;
}
.card_chat {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 35px;
    height: 35px;
    padding-top: 10px;
    background-color: #130F25;
    border-radius: 50%;
    text-align: center;
    transform: scale(1);
    transition: 0.3s;
}
.card_chat:hover {
    transform: scale(1.2);
}

.card_chat img{
    width: 20px;
    height: auto;
    margin-top: -12px;
}

.card-d-ok-block {
    display: flex;
}
.card-d-ok__thumb{
    background-image: url(../images/mecano-profil.jpg);
    background-position: center;
    background-size: cover;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.card-d-ok__description {
    font-family: "Montserrat", sans-serif;
    font-size: 12px;
    margin-top: 20px;
}
.container-profil{
    height: 100vh;
    overflow: hidden;
}


/**********************************/
/***** CARD PROJETS (MECANO) *****/
/**********************************/

.card-projet{
    position: relative;
    width: 300px;
    height: 270px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0,0,0, 0.1);
    transition: box-shadow 0.3s;
}
.card-projet__title a{
    text-decoration: none;
    color: #130F25;
}
.card-projet:hover {
    box-shadow: 0 0 50px rgba(0,0,0,0.3);
}
.card-projet-modif {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    padding-top: 10px;
    background-color: #130F25;
    border-radius: 50%;
    text-align: center;
    transform: scale(1);
    transition: 0.3s;
}
.card-projet-modif:hover {
    transform: scale(1.2);
}
.header-card-projet{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card-projet__thumb {
    height: 180px;
    overflow: hidden;
    background-color:#130F25;
    transition: height 0.3s;
}
.card-projet__thumb img{
    display: block;
    opacity: 1;
    transition: opacity 0.3s, transform 0.3s;
    width: 300px;
    height: 180px;
    object-fit: cover;
}
.card-projet:hover .card-projet__thumb {
    height: 100px;
}
.card-projet__body{
    position: ;
    padding: 20px;
    /*height: ;*/
    transition: height 0.3s;
}
.card-projet:hover .card-projet__body{
    height: 160px;
}

.card-projet__description{
    position: ;
    left: 20px;
    right: 20px;
    bottom: 10px;
    margin: 0;
    padding: 0;
    color: #130F25;
    font-size: 13px;
    line-height: 16px;
    font-family: "Open Sans", sans-serif;
    opacity: 0;
    transition: opacity 0, 3s - 0.1s, transform 0, 3s - 0.1s;
    transition-delay: 0s;
    transform: translateY(25px);
}
.card-projet:hover .card-projet__description{
    opacity: 1;
    transition-delay: 0.1s;
    transform: translateY(0);
    font-family: "Open Sans", sans-serif;
}
.card-projet__title{
    font-family: "bebas_neue_regularregular", sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: #130F25;
}

.card-projet .card-projet__title{
    animation: titleBlur 0.3s;
}
.cards-container {

    background: #fff;
    /*add flexbox style*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}